@import './base.css';

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow: hidden; */
  /* background-image: url('./wavy-lines.svg'); */
  background-color: transparent;
  /* user-select: none; */
}
/* #root {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
} */
.screenshot-container{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}
/* #screenshot-canvas {
  background-color: #000;
  opacity: 0.8;
} */